html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8fafc;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#0f172a;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#08142d;
}
header{
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:20px;
}

.nav-links a:hover{
    color:#38bdf8;
}
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:100px 10%;
    min-height:90vh;
}

.hero-text{
    width:50%;
}

.hero-text h1{
    font-size:50px;
    color:#0f172a;
}

.hero-text p{
    margin-top:20px;
    font-size:20px;
    line-height:1.6;
}

.hero-text button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:#38bdf8;
    color:white;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}
.hero-text button:hover{
    background:#0284c7;
    transform:scale(1.05);
}
.hero-image img{
    width:500px;
    border-radius:20px;
    transition:0.4s;
}

.hero-image img:hover{
    transform:scale(1.05);
}
.features{
    padding:80px;
    text-align:center;
    background:white;
}

.features h2{
    font-size:40px;
    margin-bottom:40px;
}

.feature-container{
    display:flex;
    justify-content:center;
    gap:30px;
}

.feature-card{
    width:300px;
    padding:30px;
    background:white;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.feature-card:hover{
    transform:translateY(-10px);
}
.feature-card:hover,
.course-card:hover{
    transform:translateY(-5px);
    transition:0.3s;
}
.btn:hover{
    background:#0284c7;
}
.courses{
    padding:80px 10%;
    text-align:center;
}

.course-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.course-card{
    background:white;
    padding:25px;
    width:280px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.course-card:hover{
    transform:translateY(-10px);
}
.testimonials{
    text-align:center;
    padding:80px 10%;
}

.review-card{
    max-width:600px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.review-card p{
    font-size:20px;
    margin-bottom:15px;
}

.review-card h4{
    color:#38bdf8;
}
.contact{
    text-align:center;
    padding:80px 10%;
    background:white;
}

.contact h2{
    margin-bottom:20px;
    font-size:35px;
}
footer{
    background:#08142d;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-text{
        width:100%;
        margin-bottom:30px;
    }

    .hero-image img{
        width:100%;
        max-width:400px;
    }

    .feature-container,
    .course-container{
        flex-direction:column;
        align-items:center;
    }

    nav{
        flex-direction:column;
        gap:15px;
    }
}